<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body>
    <div class="mh-wrapper">
        <!-- header -->
        <div class="login-user-header">
            <div class="login-usr-hd-logo">
                <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                <div class="login-title-txt">
                    <strong>NPPA<span>CRS</span></strong>
                    <span class="login-tit-notice">National Public Prosecution Authority <br><em>Criminal Record System</em></span>
                </div>
            </div>
        </div>
        <!--컨텐츠영역-->
        <div class="login-user-contents">
            <form>
                <div class="adm-statbox">
                  <div class="noti-txt">CRS requires the email confirmation to recognize you're the only person who can create your account.</div>
                <ul class="adm-step-list">
                  <li class="done">
                      <em class="adm-step"><span class="icon_email"></span></em>
                      <span class="adm-step-name">Email Confirmation</span>
                  </li>
                  <li class="done">
                      <em class="adm-step"><span class="icon_authentication"></span></em>
                      <span class="adm-step-name">Personal Authentication</span>
                  </li>
                  <li class="done">
                      <em class="adm-step"><span class="icon_info"></span></em>
                      <span class="adm-step-name">Personal Information</span>
                  </li>
                  <li class="active">
                      <em class="adm-step"><span class="icon_complete"></span></em>
                      <span class="adm-step-name">Complete</span>
                  </li>
                </ul>
              </div>
            </form>
            <form>
              <div class="sign-contents">
                <div class="complete-area">
                </div>
                <div class="complete-txt">
                  The application process is complete.<br>We will send an e-mail when verification is over.<br>It takes about 2~3 business days.
                </div>
                <div class="btn-area">
                  <button type="button" class="btn h50">Back to Login</button>
                </div>
              </div>
            </form>

        </div>
        <!--//컨텐츠영역-->
        <div class="user-footer">
            <div class="user-footer-area">
                <span class="copyright-img"><img src="../dist/img/icon_gray.png" alt="" /><em>National Public<br>Prosecution
                        Authority</em></span>
                <span class="copyright-footer">Copyright &copy; 2019 2018. National Public Prosecution Authority.All Rights Reserved.</span>
            </div>

        </div>
    </div>
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- nppa JS -->
    <script src="../dist/js/nppa.js"></script>
    <script>
    $(function() {
        $("#datetimepicker1").datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $("#datetimepicker2").datetimepicker({
            format: 'DD/MM/YYYY'
        });
    });
    </script>
    
</body>

</html>
