<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <!-- Data Tables CSS -->
    <link rel="stylesheet" href="../plugins/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body>
    <div class="mh-wrapper">
        <!-- header -->
        <div class="login-user-header">
            <div class="login-usr-hd-logo">
                <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                <div class="login-title-txt">
                    <strong>NPPA<span>CRS</span></strong>
                    <span class="login-tit-notice">National Public Prosecution Authority <br><em>Criminal Record System</em></span>
                </div>
            </div>
        </div> 
        <div class="login-user-contents">
            <form>
                <div class="adm-statbox">
                  <div class="noti-txt">CRS requires the email confirmation to recognize you're the only person who can create your account.</div>
                <ul class="adm-step-list">
                  <li class="active">
                      <em class="adm-step"><span class="icon_email"></span></em>
                      <span class="adm-step-name">Email Confirmation</span>
                  </li>
                  <li class="">
                      <em class="adm-step"><span class="icon_authentication"></span></em>
                      <span class="adm-step-name">Personal Authentication</span>
                  </li>
                  <li class="">
                      <em class="adm-step"><span class="icon_info"></span></em>
                      <span class="adm-step-name">Personal Information</span>
                  </li>
                  <li class="">
                      <em class="adm-step"><span class="icon_complete"></span></em>
                      <span class="adm-step-name">Complete</span>
                  </li>
                </ul>
              </div>
            </form>
            <form>
              <div class="sign-contents">
                <div class="tit">Sign Up<span class="txt">Please enter your email and send to us.</span></div>
                <div class="cont-area">
                  <div class="tit_cont">Confirmation Number</div>
                  <div class="form-group">
                      <input type="text" class="form-control mh-form-control" id="">
                      <!-- <span class="text-alert">Please enter a question for resetting in case you lose your E-mail.</span> -->
                  </div>
                </div>
                <div class="btn-area">
                  <button type="button" class="btn h50 cancel">Resend</button>
                  <button type="button" class="btn h50">Confirmation</button>
                </div>
              </div>
            </form>

        </div> 
        <div class="user-footer">
            <div class="user-footer-area">
                <span class="copyright-img"><img src="../dist/img/icon_gray.png" alt="" /><em>National Public<br>Prosecution
                        Authority</em></span>
                <span class="copyright-footer">Copyright &copy; 2019 2018. National Public Prosecution Authority.All Rights Reserved.</span>
            </div>
            

        </div>
    </div>
    <!-- modal type02  '' -->
    <div class="modal fade mh-modal" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content alert-modal"> 
                <div class="modal-body">
                    <p>We sent the confirmation number.<br>Please check your e-mail.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal type02  -->
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Data Tables JS -->
    <script src="../plugins/datatables/js/jquery.dataTables.min.js"></script>
    <!-- nppa JS -->
    <script src="../dist/js/nppa.js"></script>
    <script>
    $(document).ready(function () { 
        $(".btn").click(function () { 
                alert("clicked next step");
                window.location='/email_alert'
            });
          });
          </script>
</body>
</html>
