<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
    <style> 
    </style>
</head>

<body class="login-user-page">
    <div class="login-top-user">
        <div class="login-usr-contents">
            <div class="login-usr-logo">
                <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                <div class="login-title-txt">
                    <strong>NPPA<span>CRS</span></strong>
                    <span class="login-tit-notice">National Public Prosecution Authority <br>Criminal Record System</span>
                </div>
            </div>
            <div class="login-usr-area">
                <h1 class="login-ust-title">Registered Applicant Login</h1>
                <div class="login-form">
                    <form>
                    <ul>
                        <li style="display: flex;">
                            <label class="row" for="" style="display: flex; align-items: center; justify-content: space-around;">
                                <span class="icon-id"></span>
                                <span class="login-id">login ID</span>
                            </label>
                            <input style="border: 1px solid rgb(185, 184, 184);"   type="text" />
                        </li>
                        <li style="display: flex;">
                            <label style="display: flex; align-items: center; justify-content: space-around;" for="">
                                <span class="icon-pass"></span><span class="login-pass">Password</span></label>
                            <input style="border: 1px solid rgb(172, 169, 169);"    type="password"/>
                        </li>
                    </ul>
                    </form>
                </div>
                <div class="captha-form">
                    <p>Type the characters you see in the picture below.</p>
                    <div class="captha-area">
                        <div class="captha-img ">
                            <img src="../dist/img/captcha-example.jpg" alt=""/>
                            <button type="button" class="captha-reload">reload</button>
                        </div>
                        <div class="form-group captha-input">
                            <input type="text" />
                            <button type="button" class="btn btn-round btn-delete" aria-label="Form Delete"></button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn login">LOGIN</button>
                <div class="usr-log">
                    <a href="#" class="forpass-btn">Forgot your password?</a>
                    <a href="#" class="signup-btn">Sign up</a>
                    <div class="form-group lang-inline-group">
                        <select class="form-control lang-select">
                            <option>Kinyarwanda</option>
                            <option>english</option>
                        </select>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="login-copyright">&copy; 2019 NPPA All Rights Reserved. Privacy and Terms</div>
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- nppa JS -->
    <script src="../dist/js/nppa.js"></script>

    
</body>

</html>
