<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
    <style> 
    </style>
</head>

<body class="login-user-page">
        <div class="login-top-user">
            <div class="login-usr-contents">
                
                <div class="login-usr-logo">
                    <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                    <div class="login-title-txt">
                        <strong>NPPA<span>CRS</span></strong>
                        <span class="login-tit-notice">National Public Prosecution Authority <br>Criminal Record System</span>
                    </div>
                </div>
                <div class="m-t-10 p-20">
                    <div th:if="${param.error != null}" role="alert" class="alert alert-danger alert-dismissible result">
                            <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true">&times;</span></button>
                                Invalid username or password! 
                        </div>
                <div th:if="${param.invalid_session != null}" role="alert" class="alert alert-danger alert-dismissible result">
                                <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                                        <span aria-hidden="true">&times;</span></button>
                                            It seems you are trying to login from multiple locations. For security reasons, we only allow 1 login!
                </div>
                
                <div th:if="${param.logout != null}"  role="alert" class="alert alert-danger alert-dismissible result">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true">&times;</span></button>
                        You have been logged out!
                </div>
                <div th:if="${accountInfo != null}"  role="alert" class="alert alert-info alert-dismissible result">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                            <span aria-hidden="true">&times;</span></button>
                        <span th:text="${accountInfo}"></span>
                </div>  
                <div th:if="${param.resetSuccess}" role="alert"     class="alert alert-success result">
                        <button aria-label="Close" data-dismiss="alert" class="close"
                            type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                            <span th:text="${'You have successfully changed your password, you can now login with new credential'}"></span>
                </div>
                <span class="login-ust-title">Registered Applicant Login</span>
    
                    <form  th:action="@{/login-app}" method='POST' style="width: 57%; margin-left: 36%;">

                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="email" th:placeholder="#{user.id}" id="username" name='username'>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="password" th:placeholder="#{password}" id="password" name='password' >
                            </div>
                        </div>

                        <div class="form-group row" style="margin-left:4%">
                            <div class="col-6" style="align-items: center; margin-top: -5%; ">
                                <div class="checkbox checkbox-custom">
                                    <input id="checkbox-signup" type="checkbox" name="remember-me" value="1">
                                    <label for="checkbox-signup">
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <a href="/forget" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                            </div>
                        </div>

                                <div class="captha-form">
                                        <p th:text="#{captcha.text.title}"></p>
                                    <div class="captha-area">
                                        <div  class="captha-img" style="display: flex;"> 
                                            <div class="recaptcha" style="display: flex;">
                                                <img id="imgRefresh" th:src="@{'data:image/png;base64,'+${captchaEncode}}" /> &nbsp;
                                            
                                                <button type="button" class="captha-reload" id="refreshCaptcha"><i class="fa fa-refresh"></i>
                                                </button>&nbsp; 
                                            </div>
                                            <div class="form-group captha-input">
                                                <input type="text" id="repeatCaptcha"  required="required" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                                </div>
                        <br>
                            <div class="text-center row">
                            <div class="col-12">
                                <div class="alert alert-danger alert-captcha">Invalid Captcha</div>
                                    <input type="hidden" id="captchaAnswer" th:value="${captchaAnswer}">
                                    <input name="mh-wrapper" type="button" value="LOGIN" id="sumitButton" class="btn login ">
                                    
                            </div>
                        </div>
                    <div class="form-group lang-box-group">
                        <select id="locales" class=" lang-select">
                            <option value="" th:text="#{lang}"></option>
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="fr" th:text="#{lang.fr}"></option>
                            <option value="rw" th:text="#{lang.rw}"></option>
                        </select>
                    </div>
                </form>

        </div>
           
        </div>
    </div>
    <div class="login-copyright">&copy; 2019 NPPA All Rights Reserved. Privacy and Terms</div>
    <!-- jQuery JS -->
    <!-- jQuery  -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/detect.js"></script>
    <script src="js/fastclick.js"></script>
    <script src="js/jquery.blockUI.js"></script>
    <script src="js/waves.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="../plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="js/jquery.core.js"></script>
    <script src="js/jquery.app.js"></script>
    <script src="../dist/js/nppa.js"></script>
    <script type="text/javascript">
		
		$(document).ready(function() {
		    $("#locales").change(function () {
		        var selectedOption = $('#locales').val();
		        var pathname = window.location.pathname;
		        if (selectedOption != ''){
		            window.location.replace(pathname+'?lang=' + selectedOption);
		        }
		    });
		});
		
		$(document).ready(function () {
			$(".alert-captcha").hide();
			  $("#sumitButton").click(function () {
				  if($("#username").val()== "" || $("#password").val()== ""){
					  alert("Please your email and password are required!")
                      window.location='/forget'
				  }
				  else if ($("#repeatCaptcha").val() == ""){
					  alert("Please captcha words are required!")
				  }
				  else if($("#captchaAnswer").val() == $("#repeatCaptcha").val()){
						  $('input[name="submitform"]').attr("type", "submit"); 
		 	    }else{
		 	    	$(".alert-captcha").slideToggle("slow").delay(3000).slideToggle("slow");
		 	   		}
			  });
		});
		
		
			$("#refreshCaptcha").click(function(e) {
				e.preventDefault();
				location.reload();
				/* $.ajax({
		    		url : "/getCapcha",
		    		success : function(result) {
		    			$('#imgRefresh').attr("src",result);
				        console.log(result)   
		    		}, 
		    		error : function(err) {
		    			console.log(err);
		    		}
		    	}); */ 
				
			});

		
		</script>

    
</body>

</html>
