<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <!-- Data Tables CSS -->
    <link rel="stylesheet" href="../plugins/datatables/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body>
    <div class="mh-wrapper">
        <!-- header -->
        <div class="login-user-header">
            <div class="login-usr-hd-logo">
                <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                <div class="login-title-txt">
                    <strong>NPPA<span>CRS</span></strong>
                    <span class="login-tit-notice">National Public Prosecution Authority <br><em>Criminal Record System</em></span>
                </div>
            </div>
        </div> 
        <div class="login-user-contents">
            <form>
                <div class="adm-statbox">
                  <div class="noti-txt">CRS requires the email confirmation to recognize you're the only person who can create your account.</div>
                <ul class="adm-step-list">
                  <li class="done">
                      <em class="adm-step"><span class="icon_email"></span></em>
                      <span class="adm-step-name">Email Confirmation</span>
                  </li>
                  <li class="active">
                      <em class="adm-step"><span class="icon_authentication"></span></em>
                      <span class="adm-step-name">Personal Authentication</span>
                  </li>
                  <li class="">
                      <em class="adm-step"><span class="icon_info"></span></em>
                      <span class="adm-step-name">Personal Information</span>
                  </li>
                  <li class="">
                      <em class="adm-step"><span class="icon_complete"></span></em>
                      <span class="adm-step-name">Complete</span>
                  </li>
                </ul>
              </div>
            </form>
            <form>
              <div class="sign-contents">
                <div class="tit">Sign Up<span class="txt">Please provide your information</span></div>
                  <div class="top-area">
                    <div class="tit_cont">Select Applicant Type</div>
                  </div>
                  <ul class="nav tab-type03" role="tablist"> 
                      <li class="nav-item">
                          <a class="nav-link active" id="default1-tab" data-toggle="tab" href="#default1" role="tab" aria-controls="default1" aria-selected="true">Citizens living in Rwanda</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="default2-tab" data-toggle="tab" href="#default2" role="tab" aria-controls="default2" aria-selected="false">Citizens living abroad</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="default3-tab" data-toggle="tab" href="#default3" role="tab" aria-controls="default3" aria-selected="false">Refugees</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="default4-tab" data-toggle="tab" href="#default4" role="tab" aria-controls="default4" aria-selected="false">Foreigners living in Rwanda</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane fade show active" id="default1" role="tabpanel" aria-labelledby="default1-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">NIID Number</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">First Name</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Last Name</div>
                          <div class="form-group">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="default2" role="tabpanel" aria-labelledby="default2-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Rwandan Passport No.</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Place of Issue</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="datetimepicker-wrapper datetimepicker mb-15p">
                              <div class="tit_cont">Date of Issue</div>
                              <input type="text" class="form-control mh-form-control" id="datetimepicker1">
                          </div>
                          <span class="dash">~</span>
                          <div class="datetimepicker-wrapper datetimepicker mb-15p">
                              <div class="tit_cont">Date of Expiry</div><input type="text" class="form-control mh-form-control" id="datetimepicker2">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="default3" role="tabpanel" aria-labelledby="default3-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Proof of Registration No.</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Place of Issue</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Issue</div>
                              <input type="text" class="form-control mh-form-control" id="datetimepicker3">
                          </div>
                          <span class="dash">~</span>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Expiry</div><input type="text" class="form-control mh-form-control" id="datetimepicker4">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="default4" role="tabpanel" aria-labelledby="default4-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Current Passport No.</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Place of Issue</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Issue</div>
                              <input type="text" class="form-control mh-form-control" id="datetimepicker5">
                          </div>
                          <span class="dash">~</span>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Expiry</div><input type="text" class="form-control mh-form-control" id="datetimepicker6">
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="btn-area mb-0p">
                  <button type="button" class="btn h50 solo">Authenticate</button>
                </div>
              </div>
            </form>

        </div> 
        <div class="user-footer">
            <div class="user-footer-area">
                <span class="copyright-img"><img src="../dist/img/icon_gray.png" alt="" /><em>National Public<br>Prosecution
                        Authority</em></span>
                <span class="copyright-footer">Copyright &copy; 2019 2018. National Public Prosecution Authority.All Rights Reserved.</span>
            </div>
            

        </div>
    </div>
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- Data Tables JS -->
    <script src="../plugins/datatables/js/jquery.dataTables.min.js"></script>
    <!-- nppa JS -->
    <script src="../dist/js/nppa.js"></script>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'DD/MM/YYYY'
                //debug:true
            });
            $("#datetimepicker2").datetimepicker({
                format: 'DD/MM/YYYY'
                //debug:true
            });
            $("#datetimepicker3").datetimepicker({
                format: 'DD/MM/YYYY'
                //debug:true
            });
            $("#datetimepicker4").datetimepicker({
                format: 'DD/MM/YYYY'
                //debug:true
            });
            $("#datetimepicker5").datetimepicker({
                format: 'DD/MM/YYYY'
                //debug:true
            });
            $("#datetimepicker6").datetimepicker({
                format: 'DD/MM/YYYY'
                //debug:true
            });
        });
    </script>
</body>
</html>
