<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body class="login-user-page">
    <div class="login-top-user">
        <div class="login-usr-contents">
            <div class="login-usr-logo">
                <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                <div class="login-title-txt">
                    <strong>NPPA<span>CRS</span></strong>
                    <span class="login-tit-notice">National Public Prosecution Authority <br>Criminal Record System</span>
                </div>
            </div>
            <div class="login-usr-area">
                <h1 class="login-ust-title">Registered Applicant Login</h1>
                <div class="login-form">
                    <form>
                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="email" th:placeholder="#{user.id}" id="username" name='username'>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input class="form-control" type="password" th:placeholder="#{password}" id="password" name='password' >
                            </div>
                        </div>
                    </form>
                </div>
                <div class="captha-form">
                    captcha area
                </div>
                <button style="width: 100%;" type="button" class="btn login">LOGIN</button>
                <div class="usr-log">
                    <a href="#" class="forpass-btn">Forgot your password?</a>
                    <a href="/send_email" class="signup-btn">Sign up</a>
                </div>
            </div>
           
        </div>
    </div>
    <div class="login-copyright">&copy; 2019 NPPA All Rights Reserved. Privacy and Terms</div>

    <div class="modal fade mh-modal type04" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Reset Password</h3>
                    <button type="button" class="popup-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="cont_tit">Did you lose your password?</div>
                    <div>Please enter the email address used to sign up for NPPS CRS.</div>
                    <div class="form-group mt-40p">
                        <input type="text" class="form-control mh-form-control" id="" value="mailusername@gmail.com">
                    </div>
                    <div>- We will issue you a temporary password.<br>- The temporary password is only valid for 24 hours after sent.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn">Send</button>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- nppa JS -->
    <script src="../dist/js/nppa.js"></script>
<script>
    $(document).ready(function () { 
			  $(".signup-btn").click(function () { 
					  alert("clicked next step");
                      window.location='/send_email'
				  });
                  $(".btn").click(function () { 
					  alert("clicked next step");
                      window.location='/send_email'
				  });
                });
</script>
    

    <script>

    $(function() {
        $('#exampleModal1').modal('show');
    });
    </script>
</body>

</html>
