<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> 
<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link href="../plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body>
    <div class="mh-wrapper">
        <!-- header -->
        <div class="login-user-header">
            <div class="login-usr-hd-logo">
                <img src="../dist/img/logo-login.png" alt="NPPA CRS">
                <div class="login-title-txt">
                    <strong>NPPA<span>CRS</span></strong>
                    <span class="login-tit-notice">National Public Prosecution Authority <br><em>Criminal Record System</em></span>
                </div>
            </div>
        </div> 
        <div class="login-user-contents">
            <div>
                    <div class="adm-statbox">
                        <div class="noti-txt">CRS requires the email confirmation to recognize you're the only person who can create your account.</div>
                        <!-- EMAIL STEP    -->
                        <ul class="adm-step-list email-step">
                            <li class="active">
                                <em class="adm-step"><span class="icon_email"></span></em>
                                <span class="adm-step-name">Email Confirmation</span>
                            </li>
                            <li class="">
                                <em class="adm-step"><span class="icon_authentication"></span></em>
                                <span class="adm-step-name">Personal Authentication</span>
                            </li>
                            <li class="">
                                <em class="adm-step"><span class="icon_info"></span></em>
                                <span class="adm-step-name">Personal Information</span>
                            </li>
                            <li class="">
                                <em class="adm-step"><span class="icon_complete"></span></em>
                                <span class="adm-step-name">Complete</span>
                            </li>
                            </ul>
                        <!-- EMAIL STEP    -->
                         <!-- IDENTIFICATION TYPE STEP    -->
                            <ul class="adm-step-list identification-step">
                                <li class="done">
                                    <em class="adm-step"><span class="icon_email"></span></em>
                                    <span class="adm-step-name">Email Confirmation</span>
                                </li>
                                <li class="active">
                                    <em class="adm-step"><span class="icon_authentication"></span></em>
                                    <span class="adm-step-name">Personal Authentication</span>
                                </li>
                                <li class="">
                                    <em class="adm-step"><span class="icon_info"></span></em>
                                    <span class="adm-step-name">Personal Information</span>
                                </li>
                                <li class="">
                                    <em class="adm-step"><span class="icon_complete"></span></em>
                                    <span class="adm-step-name">Complete</span>
                                </li>
                              </ul>
                              <!-- IDENTIFICATION TYPE STEP    -->

                              <!-- PERSONAL INFORMATION STEP -->

                              <ul class="adm-step-list  personal_information-step">
                                <li class="done">
                                    <em class="adm-step"><span class="icon_email"></span></em>
                                    <span class="adm-step-name">Email Confirmation</span>
                                </li>
                                <li class="done">
                                    <em class="adm-step"><span class="icon_authentication"></span></em>
                                    <span class="adm-step-name">Personal Authentication</span>
                                </li>
                                <li class="active">
                                    <em class="adm-step"><span class="icon_info"></span></em>
                                    <span class="adm-step-name">Personal Information</span>
                                </li>
                                <li class="">
                                    <em class="adm-step"><span class="icon_complete"></span></em>
                                    <span class="adm-step-name">Complete</span>
                                </li>
                              </ul>

                              <!-- PERSONAL INFORMATION STEP -->




                        </div>
                 </div>
            <div>

            </div>
          
                    <div class="sign-contents verification-sent-form">
                        <div class="tit">Sign Up<span class="txt">Please enter your email and send to us.</span></div>
                        <div class="cont-area">
                            <div class="tit_cont">Confirmation Number</div>
                            <div class="form-group">
                                <input type="text" class="form-control mh-form-control" id="confirm_code">
                                <!-- <span class="text-alert">Please enter a question for resetting in case you lose your E-mail.</span> -->
                            </div>
                        </div>
                        <div class="btn-area">
                            <button type="button" class="btn h50 cancel">Resend</button>
                            <button type="button" class="btn h50 Confirmation-btn">Confirmation</button>
                        </div>
                    </div>
            <form>
                <!-- IDENTIFICATION TYPE -->

              <div class="sign-contents identification-type-form">
                <div class="tit">Sign Up<span class="txt">Please provide your information</span></div>
                  <div class="top-area">
                    <div class="tit_cont">Select Applicant Type</div>
                  </div>
                  <ul class="nav tab-type03" role="tablist"> 
                      <li class="nav-item">
                          <a class="nav-link active" id="default1-tab" data-toggle="tab" href="#default1" role="tab" aria-controls="default1" aria-selected="true">Citizens living in Rwanda</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="default2-tab" data-toggle="tab" href="#default2" role="tab" aria-controls="default2" aria-selected="false">Citizens living abroad</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="default3-tab" data-toggle="tab" href="#default3" role="tab" aria-controls="default3" aria-selected="false">Refugees</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="default4-tab" data-toggle="tab" href="#default4" role="tab" aria-controls="default4" aria-selected="false">Foreigners living in Rwanda</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane fade show active" id="default1" role="tabpanel" aria-labelledby="default1-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Identity Type</div>
                          <div class="form-group mb-15p">
                              <select class="form-control mh-form-control">
                                  <option>----SELECT---</option>
                                  <option>National id</option>
                                  <option>Passport</option>
                              </select>
                          </div>
                          <div class="tit_cont">NIID Number</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div> 
                        </div>
                      </div>
                      <div class="tab-pane fade" id="default2" role="tabpanel" aria-labelledby="default2-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Rwandan Passport No.</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Place of Issue</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="datetimepicker-wrapper datetimepicker mb-15p">
                              <div class="tit_cont">Date of Issue</div>
                              <input type="text" class="form-control mh-form-control" id="datetimepicker1">
                          </div>
                          <span class="dash">~</span>
                          <div class="datetimepicker-wrapper datetimepicker mb-15p">
                              <div class="tit_cont">Date of Expiry</div><input type="text" class="form-control mh-form-control" id="datetimepicker2">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="default3" role="tabpanel" aria-labelledby="default3-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Proof of Registration No.</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Place of Issue</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Issue</div>
                              <input type="text" class="form-control mh-form-control" id="datetimepicker3">
                          </div>
                          <span class="dash">~</span>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Expiry</div><input type="text" class="form-control mh-form-control" id="datetimepicker4">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="default4" role="tabpanel" aria-labelledby="default4-tab">
                        <div class="cont-area tab_st">
                          <div class="tit_cont">Current Passport No.</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="tit_cont">Place of Issue</div>
                          <div class="form-group mb-15p">
                              <input type="text" class="form-control mh-form-control" id="">
                          </div>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Issue</div>
                              <input type="text" class="form-control mh-form-control" id="datetimepicker5">
                          </div>
                          <span class="dash">~</span>
                          <div class="datetimepicker-wrapper datetimepicker mb-20p">
                              <div class="tit_cont">Date of Expiry</div><input type="text" class="form-control mh-form-control" id="datetimepicker6">
                          </div>
                        </div>
                      </div>
                    </div>
                <div class="btn-area mb-0p">
                  <button type="button" class="btn h50 solo">Authenticate</button>
                </div>
              </div>

              <!-- IDENTIFICATION TYPE -->
              <div class="sign-contents send-email-form">
                <div class="tit">Sign Up<span class="txt">Please enter your email and send to us.</span></div>
                <div class="cont-area">
                  <div class="tit_cont">Mail address</div>
                  <div class="form-group">
                      <input type="email" class="form-control mh-form-control" id="input-email">
                      <!-- <span class="text-alert">Please enter a question for resetting in case you lose your E-mail.</span> -->
                  </div>
                </div>
                <div class="btn-area">
                  <button type="button" class="btn h50 solo send-email-btn" data-toggle="modal" data-target="#exampleModal1" id="modal1">Send</button>
                </div>
              </div>


              <!-- PERSONAL INFORMATION FORM -->

              <div class="sign-contents personal_information-form">
                <div class="tit">Sign Up<span class="txt">Please provide your information</span></div>
				 <div class="usr-detail-area"> 
					<div class="usr-area">
						<h3>Applicant Detail</h3>
						<div class="row mb-30p">
							<div class="col-12">
								<div class="profile-id">
								User Register Type : <span>Citizen</span>
								</div>
								<div class="profile-id">
								National ID : <span>7108267201</span>
								</div>
							</div>
						</div>
						<div class="profile-pic more">
							<img src="../dist/img/no-img.jpg" alt="">
							<div class="form-group inline-group">
								<input type="hidden" id="fileName" class="form-control mh-form-control">
								<div class="attach-btn">
									<button type="button" class="btn" for="#attach1"><span class="btn_attach"></span> Photo</button>
									<input type="file" name="file_1" class="file_input_hidden" onchange="javascript: document.getElementById('fileName').value = this.value"/>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-4">
								<div class="tit_cont">First Name</div>
								<div class="form-group">
									<input type="text" class="form-control mh-form-control">
								</div>
								</div>
							<div class="col-4">
								<div class="tit_cont">Middle Name</div>
								<div class="form-group">
									<input type="text" class="form-control mh-form-control">
								</div>
							</div>
							<div class="col-4">
								<div class="tit_cont">Middle Name</div>
								<div class="form-group">
									<input type="text" class="form-control mh-form-control">
								</div>
							</div>
						</div>
						<div class="row mb-15p">
							<div class="col-12">
								<div class="min-sub-wrap"> 
									<div class="min-sub-item">
										<div>
											<div class="tit_cont">Gender</div>
											<div class="form-group">
												<select class="form-control mh-form-control">
													<option>--SELECT STATUS---</option>
													<option value="male">Male</option>
													<option value="female">Female</option>
													<option value="others">Others</option>
												</select>
											</div>
										</div>
									</div>
									<div class="min-sub-item">  
										<div>
											<div class="tit_cont">Birthday</div>
											<div class="form-group">
												<input type="date" class="form-control mh-form-control" id="datetimepicker3">
											</div>
										</div>
									</div>
								</div> 
								 
							</div>
						</div>									
						<div class="row">
							<div class="col-4">
								<div class="tit_cont">Civil status</div>
								<div class="form-group">
									<select class="form-control mh-form-control">
										<option>--SELECT STATUS---</option>
										<option value="maried">Maried</option>
										<option value="single">Single</option>
										<option value="divorsed">Divorsed</option>
									</select>
								</div>
								</div>
							<div class="col-4">
								<div class="tit_cont">Language for Certificate</div>
								<div class="form-group">
									<select class="form-control mh-form-control" >
										<option>--SELECT STATUS---</option>
								<option th:each="lang:${languages}" th:value="${lang.id}" th:text="${lang.nameEnglish}"></option> 
									</select>
								</div>
							</div>
							<div class="col-4">
								<div class="tit_cont">Maj Office</div>
								<div class="form-group">
									<select class="form-control mh-form-control">
										<option>--SELECT---</option>
								<option th:each="majoff:${maj}" th:value="${majoff.id}" th:text="${majoff.name}"></option> 
									</select>
								</div>
							</div>
						</div>
					 
						<div class="row mt-25p">
							<div class="col-12">
								<div class="min-sub-wrap">
									<div class="min-sub-tit type02">
										<span>Father's Name</span>
									</div>
									<div class="min-sub-item">
										<div>
											<div class="tit_cont">First Name</div>
											<div class="form-group">
												<input type="text" class="form-control mh-form-control" id="">
											</div>
										</div>
									</div>
									<div class="min-sub-item">
										<div>
											<div class="tit_cont">Last Name</div>
											<div class="form-group">
												<input type="text" class="form-control mh-form-control" id="">
											</div>
										</div>
									</div>
								</div>
								<div class="min-sub-wrap ">
									<div class="min-sub-tit type02">
										<span>Father's Name</span>
									</div>
									<div class="min-sub-item">
										<div>
											<div class="tit_cont">First Name</div>
											<div class="form-group">
												<input type="text" class="form-control mh-form-control" id="">
											</div>
										</div>
									</div>
									<div class="min-sub-item">
										<div>
											<div class="tit_cont">Last Name</div>
											<div class="form-group">
												<input type="text" class="form-control mh-form-control" id="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<div class="usr-area mt-80p">
						<h3>Place Detail</h3>
						<div class="min-sub-wrap">
							<div class="min-sub-tit type02"><span>Country</span> </div>
							<div class="min-sub-item">
								<div>
									<div class="tit_cont">Place of Birth</div>
									<div class="form-group">
                                        <select class="form-control fav_clr birthCountryId" name="birthCountryId" style="width: 100%;"  >
                                             <option th:each="country :${countries}" 
                                             th:value="${country.id}" th:text="${country.nameEnglish}"></option>
                                         </select>
										
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="tit_cont">Place of Residence</div>
									<div class="form-group"> 
                                        <select class="form-control fav_clr birthCountryId" name="birthCountryId" style="width: 100%;"  >
										  <option th:each="country :${countries}" 
                                             th:value="${country.id}" th:text="${country.nameEnglish}"></option>
                                         </select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="tit_cont">Citizen Registration Place</div>
									<div class="form-group">										 
                                        <select class="form-control fav_clr birthCountryId" name="birthCountryId" style="width: 100%;"  >
                                                <option th:each="country :${countries}" 
                                                 th:value="${country.id}" th:text="${country.nameEnglish}"></option>
                                             </select>
									</div>
								</div>
							</div>
						</div>
						<div class="min-sub-wrap">
							<div class="min-sub-tit type02"><span>Province</span></div>
							<div class="min-sub-item">
								<div>
									<div class="form-group"> 
                                        <select  class="form-control birthProvinceId"name="birthProvinceId">
										 <option th:each="province:${provinces}"
                                             th:value="${province.code}" th:text="${province.name}"></option>
                                     </select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
                                        <select  class="form-control birthProvinceId"name="birthProvinceId">
										<option>--SELECT--</option> 
                                        <option th:each="province:${provinces}"
                                             th:value="${province.code}" th:text="${province.name}"></option>
                                     </select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
                                        <select  class="form-control birthProvinceId"name="birthProvinceId">
										<option>--SELECT--</option> 
                                        <option th:each="province:${provinces}"
                                             th:value="${province.code}" th:text="${province.name}"></option>
                                     </select>
									</div>
								</div>
							</div>
						</div>
						<div class="min-sub-wrap">
							<div class="min-sub-tit type02"><span>District</span></div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control">
										<option>birth_district</option> 
										</select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control">
										<option>resident_district</option> 
										</select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control ">
										<option>district registration</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="min-sub-wrap">
							<div class="min-sub-tit type02"><span>Sector</span></div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control">
										<option>birth_sector</option> 
										</select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control">
										<option>resident_sector</option> 
										</select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control">
                                            <option>registration_sector</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="min-sub-wrap">
							<div class="min-sub-tit type02"><span>Cell</span></div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control birth_cell"> 
										<option>birth_cell</option>

										</select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group">
										<select class="form-control mh-form-control resident_cell"> 
										<option>resident_cell</option>
										</select>
									</div>
								</div>
							</div>
							<div class="min-sub-item">
								<div>
									<div class="form-group"> 
										<select class="form-control mh-form-control registration_cell"> 
										<option>registration_cell</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="min-sub-wrap type02">
							<div class="min-sub-tit"><span>Additional<br>Information</span></div>
							<div class="min-sub-item">
							  <div class="tit_cont">Nation(s)  <button type="button" class="list-add"></button></div>
							  <select class="form-control mh-form-control fav_clr" multiple="multiple" >
                                  <option>----SELECT ---</option>
                                <option th:each="nat:${nationality}" th:value="${nat.id}" th:text="${nat.nameEnglish}"></option> 
							  </select>
							</div>
							<div class="min-sub-item">
							  <div class="tit_cont">Profession(s)  <button type="button" class="list-add"></button></div>
							  <select class="form-control mh-form-control fav_clr" multiple="multiple" >
                                <option>----SELECT ---</option>
                                <option th:each="prof:${profession}" th:value="${prof.id}" th:text="${prof.descriptionEnglish}"></option> 
							  </select>
							</div>
                            <div class="min-sub-item">
                                <div class="tit_cont">Occupation(s) <button type="button" class="list-add"></button></div>
                                <select class="form-control mh-form-control fav_clr" multiple="multiple" > 
								<option th:each="occupat:${occupation}" th:value="${occupat.id}" th:text="${occupat.descriptionEnglish}"></option> 
                                </select>
                              </div> 
						  </div>
					</div> 
					<div class="usr-area mt-80p">
						<h3>Password</h3>
						<div class="row mt-20p">
							<div class="col-12">
								<div class="min-sub-wrap ">
									<div class="min-sub-tit type02">
										<span>New Password</span>
									</div>
									<div class="min-sub-item">
										<div>
											<div class="form-group">
												<input type="text" class="form-control mh-form-control" id="">
											</div>
										</div>
									</div>
									<div class="min-sub-item">
										
									</div>
								</div>
								<div class="min-sub-wrap ">
									<div class="min-sub-tit type02">
										<span>Re-enter Password</span>
									</div>
									<div class="min-sub-item">
										<div>
											<div class="form-group">
												<input type="text" class="form-control mh-form-control" id="">
											</div>
										</div>
									</div>
									<div class="min-sub-item ver-mid">
										
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div> 
                <div class="btn-area mb-0p">
                  <button type="button" class="btn h50 solo" data-toggle="modal" data-target="#exampleModal2" id="modal1">Send Information</button>
                </div>
              </div>
             <!-- END OF PERSONAL INFORMATION FORM -->

            </form>

        </div> 
        <div class="user-footer">
            <div class="user-footer-area">
                <span class="copyright-img"><img src="../dist/img/icon_gray.png" alt="" /><em>National Public<br>Prosecution
                        Authority</em></span>
                <span class="copyright-footer">Copyright &copy; 2019 2018. National Public Prosecution Authority.All Rights Reserved.</span>
            </div>
            

        </div>
    </div>
    <!-- modal type02  '' -->
    <div class="modal fade mh-modal email-sent" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2">
        <div class="modal-dialog modal-dialog-centered" style="padding: 30px;" role="document">
            <div class="modal-content alert-modal"> 
                <div class="modal-body">
                    <p>We sent the confirmation number.<br>Please check your e-mail.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn email-verification">Verify</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade mh-modal verification-sent-modal" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModal3">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content alert-modal"> 
                <div class="modal-body">
                    <p>Code Verified Successfully.<br>Please continue Registration.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn next-to-personal-auth" data-dismiss="modal">Next</button>
                    <button type="button" class="btn" data-dismiss="modal">concel</button>
                </div> 
            </div>
        </div>
    </div>  
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- nppa JS -->
    <script th:src="@{../plugins/select2/js/select2.min.js}"></script>
    <script>
        $(document).ready(function () { 
            $(".verification-sent-form").hide();
            $(".identification-step").hide();
            $(".identification-type-form").hide();
            // $(".personal_information-form").hide();
            $(".personal_information-step").hide();
                  $(".send-email-btn").click(function () {  
                        var email= document.getElementById("input-email").value; 
                        $.ajax({
                url:"/verify_email/"+email,
                type: "POST",  data: "id=" + email,
                success: function (data) {  $(".email-sent").modal("show");
                    console.log("Email sent successfully!!!", {  icon: "success",
                    }).then((okey) => {                        
                        if (okey) window.location='/confirm_email';
                    }); },
                error: function (err) {   console.log(err);   },
            }); });  });
                    $(document).ready(function () { 
            $(".email-verification").click(function(){                
                $(".email-sent").modal("hide");
                $(".send-email-form").hide();
                $(".verification-sent-form").show();
            }); });

            //   VERIFY EMAIL
      $(document).ready(function () {                 
        
        $(".Confirmation-btn").click(function (e) { 
                    e.preventDefault();
                    var code= document.getElementById("confirm_code").value; 
                    $.ajax({
            url:"/get_verification_code/"+code,
                        success: function(data) { 
                            if(data.verificationRegistration ==null){alert("Nothing Found");}                                 
                            else {
                                $(".verification-sent-modal").modal("show");
                            console.log(data.verificationRegistration); }                                 
                               },
                        error: function (err) {
                            console.log(err);
                        },
                    });
                }); 
    });
    $(document).ready(function () { 
            $(".next-to-personal-auth").click(function(){                
                $(".verification-sent-modal").modal("hide");
                $(".send-email-form").hide();
                $(".verification-sent-form").hide();
                $(".identification-type-form").show();
                $(".identification-step").show();
                $(".email-step").hide();
            }); });
     //   VERIFY EMAIL

// PERSONAL INFORMATION REGISTRATION

$(document).ready(function () { 
    $(".next-to-personal-auth").click(function(){
        $(".send-email-form").hide();
            $(".verification-sent-form").hide();
            $(".identification-type-form").hide();
            $(".identification-step").hide();
            $(".email-step").hide();
            $(".personal_information-form").show();
            $(".personal_information-step").show();

    });

});

// PERSONAL INFORMATION REGISTRATION
     
               

                    </script>

<script>
    $(document).ready(function () {
        $(".fav_clr").select2({
            placeholder: " Select Role(s)",
            width: "100%",
            border: "1px solid #e4e5e7",
        });
    });

    $(".fav_clr").on("select2:select", function (e) {
        var data = e.params.data.text;
        if (data == "all") {
            $(".fav_clr > option").prop("selected", "selected");
            $(".fav_clr").trigger("change");
        }
    });


    // <!-- BIRTH PLACE -->
    
$(document).ready(function(){
    $('.fav_clr').select2({
        placeholder: ' --Select--', 
        with:'100%',
        border: '1px solid #e4e5e7', 
    });  
});

$(document).ready(function() {
     $('#birthCountryId').select2(); 
     $('#birthNation').hide();
 });

 $("#birthCountryId").change(function(){    
 $('#birthCountryId').on("select2:select", function (e) { 
           var data = e.params.data.text;
           
           if(data!='Rwanda'){ 
                $('#birthNation').show();	       
                $('#birthDistrictId').empty();
                $('#birthSectorId').empty();
                $('#birthCellId').empty();  
          
               $('#birthProvinceId').hide();	
                 $('#birthDistrictId').attr('disabled',true);      	  
                 $('#birthSectorId').attr('disabled',true);      	  
                 $('#birthCellId').attr('disabled',true);      	  
           }else{                            
              $('#birthDistrictId').attr('disabled',false);
              $('#birthSectorId').attr('disabled',false);
              $('#birthCellId').attr('disabled',false);                                                    
            $('#birthDistrictId').empty();
            $('#birthSectorId').empty();
            $('#birthCellId').empty();    
            $('#birthProvinceId').show();
            $('#birthNation').hide();	 
           }
     }); 
    });

     
    $("#birthProvinceId").change(function(){
     $("#loading").show(); 
     var selectedProvince = $(this).children("option:selected").val();
     $('#birthDistrictId').empty();
     $('#birthSectorId').empty();
     $('#birthCellId').empty(); 
     $.ajax({
           url : "/getResidentProvince/"+selectedProvince,
           success : function(result) {
            $("#loading").hide();
               var jsonData1 = result.provinceVO.districts;
                var appendDistrictdata = "";
               
                   for (var i = 0; i < jsonData1.length; i++) {
                       appendDistrictdata += "<option value = '" + jsonData1[i].code + " '>" + jsonData1[i].name + " </option>";
                   }
                   $('#birthDistrictId').append("<option>--Select--</option>")
                   $("#birthDistrictId").append(appendDistrictdata);
                   $('#birthDistrictId').show();
           }, 
           error : function(err) {
               console.log(err);
           }
       });
   });
   $("#birthDistrictId").change(function(){
    $("#loading").show(); 
       var selectedDistrict = $(this).children("option:selected").val();
       $('#birthSectorId').empty();
       $('#birthCellId').empty(); 
       $.ajax({
             url : "/getResidentDistrict/"+selectedDistrict,
             success : function(result) {
                $("#loading").hide();
                 var jsonData1 = result.districtVO.sectors;
                  var appendSectordata = "";
                 
                     for (var i = 0; i < jsonData1.length; i++) {
                         appendSectordata += "<option value = '" + jsonData1[i].code + " '>" + jsonData1[i].name + " </option>";
                     }
                     $('#birthSectorId').append("<option>--Select--</option>")
                     $("#birthSectorId").append(appendSectordata);
                     $('#birthSectorId').show();
             }, 
             error : function(err) {
                 console.log(err);
             }
         });
     });
  
  $("#birthSectorId").change(function(){
    $("#loading").show(); 
       var selectedSector = $(this).children("option:selected").val();
       $('#birthCellId').empty(); 
       $.ajax({
             url : "/getResidentSector/"+selectedSector,
             success : function(result) {
                $("#loading").hide();
                 var jsonData1 = result.sectorVO.cells;
                  var appendCelldata = "";
                 
                     for (var i = 0; i < jsonData1.length; i++) {
                         appendCelldata += "<option value = '" + jsonData1[i].code + " '>" + jsonData1[i].name + " </option>";
                     }
                     $('#birthCellId').append("<option>--Select--</option>")
                     $("#birthCellId").append(appendCelldata);
                     $('#birthCellId').show();
             }, 
             error : function(err) {
                 console.log(err);
             }
         });
     });

     
// <!-- BIRTH PLACE -->
</script>
</body>

</html>
