.login-title {
    position: relative;
}
.login-title img {
    position: absolute;
    top: -70px;
    left: 160px;
}
.login-title .login-title-txt {
    text-align: center;
    padding-top: 45px;
}
.login-title .login-title-txt strong {
    display: block;
    font-size: 34px;
    font-weight: bold;
    font-style: normal;
    color: #2d60b3;
}
.login-title .login-title-txt strong span {
    margin-left: 6.5px;
    padding-left: 7.5px;
    display: inline-block;
    font-size: 34px;
    font-weight: bold;
    color: #36baff;
    position: relative;
}
.login-title .login-title-txt span.login-tit-notice {
    display: block;
    font-size: 13px;
    font-weight: normal;
    color: #000000;
    margin-top: 5px;
}

.login-title .login-title-txt span.login-tit-notice:after {
    content: "";
    display: block;
    border-bottom: 1px solid #b1b6bf;
    width: 358px;
    margin: 5px auto 7px;
}
.captha-form {
    border: 1px solid #c3c9ce;
    height: 10%;
    /* 	    margin-top: 20px; */
    padding: 10px 15px 15px 15px;
}

.captha-form .captha-area {
    width: 100%;
    height: 60px;
    margin-top: 7px;
}

.captha-form p {
    font-size: 12px;
    line-height: 1.33;
    text-align: left;
    color: #000000;
    margin: 0;
}

.captha-form .captha-area .captha-img img {
    width: 28%;
    height: 6%;
    display: inline-block;
    padding-right: 2px;
    border: 1px solid #aaafb4;
}
.captha-form .captha-area .captha-img .captha-reload {
    border: 1px solid #aaafb4;
    height: 60px;
    vertical-align: top;
}
.captha-form .captha-area .form-group.captha-input { 
    position: relative;
}
.captha-form .captha-area .form-group.captha-input input {
    width: 24%;
    height: 60px;
    line-height: 58%;
    padding: 0 20px 0 10px;
}
.btn.login,
.btn.login:hover,
.btn.login:active {
    width: 100%;
    margin-bottom: 5px;
    height: 54px;
    background-color: #2d60b3;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

/* TREE VIEW CRSS START */

.tree-header {
    width: auto;
    height: 32px;
    border: 1px solid #babdc4;
    background: #f1f3f5;
    margin: -1px 0 0 -1px;
    position: relative;
}
.tree-header span {
    display: inline-block;
    padding-left: 8px;
    font-size: 14px;
    line-height: 32px;
    font-weight: bold;
    color: #464646;
}
.tree-header .tree-close-btn {
    border: none;
    border-right: 1px solid #a2a5ab;
    color: transparent;
    font-size: 1px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
}
.main-content.tree-con .main-area {
    float: left;
    width: calc(100% - 250px);
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    min-width: 760px;
    max-width: 1200px;
}

/* Tab */
.nav-link {
    padding: 0;
}
.tab-type01 {
    width: 100%;
    border: solid 1px #6d7887;
    background: #6d7887;
    border-bottom: none;
}
.tab-type01 li.nav-item {
    height: 49px;
    line-height: 49px;
    min-width: 200px;
    max-width: 250px;
}
.usr .usr-request-area .tab-type01 li.nav-item {
    min-width: 211px;
}
.tab-type01 li.nav-item .nav-link {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #8a939f;
    border-right: 1px solid #6d7887;
}
.tab-type01 li.nav-item .nav-link.active {
    font-weight: bold;
    color: #4068a5;
    background: #fff;
    border-right: 1px solid #6d7887;
}
.usr .usr-request-area .tab-type01 li.nav-item .nav-link.active {
    font-weight: normal;
}
.usr .usr-request-area .tab-type01 li.nav-item .nav-link {
    font-weight: normal;
    font-size: 14px;
    position: relative;
}
.tab-type01 + .tab-content {
    border: solid 1px #6d7887;
    border-top: none;
    padding: 28px 31px 50px 31px; /*min-height:632px;*/
}

.tab-type02 {
    width: 100%;
    border: solid 1px #6d7887;
    background: #6d7887;
    border-bottom: none;
}
.tab-type02 li.nav-item {
    height: 49px;
    line-height: 49px;
    min-width: 120px;
    max-width: 130px;
}
.tab-type02 li.nav-item .nav-link {
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: #8a939f;
    border-right: 1px solid #6d7887;
}
.tab-type02 li.nav-item .nav-link.active {
    font-weight: bold;
    color: #4068a5;
    background: #fff;
    border-right: 1px solid #6d7887;
}
.tab-type02 + .tab-content {
    border: solid 1px #6d7887;
    border-top: none;
    padding: 36px 31px 50px 31px;
    min-height: 361px;
}
.tab-type02 li.nav-item .nav-link span {
    display: inline-block;
    position: relative;
}
.tab-type02 li.nav-item .nav-link span:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 34px;
}
.tab-type02 > li.nav-item span.orange:after {
    background: #f43a42;
}
.tab-type02 > li.nav-item span.yellow:after {
    background: #ffce00;
}
.tab-type02 > li.nav-item span.pink:after {
    background: #ef5bd6;
}
.tab-type02 > li.nav-item span.hotpink:after {
    background: #ff7e3b;
}
.tab-type02 > li.nav-item span.green:after {
    background: #add800;
}
.tab-type02 > li.nav-item span.blue:after {
    background: #4ac4ff;
}

.tab-type04 {
    width: 253px;
    height: 290px;
    float: left;
}
.tab-type04 li.nav-item {
    height: 91px;
    margin-bottom: 8px;
}
.tab-type04 li.nav-item .nav-link {
    width: 240px;
    height: 91px;
    line-height: 89px;
    background: #fff;
    border: solid 1px #c4cbd4;
    position: relative;
    color: #000;
    padding: 0 18px;
}
.tab-type04 li.nav-item .nav-link.active {
    border: solid 2px #4e81d6;
    background-color: #f1f6ff;
}
.tab-type04 li.nav-item .nav-link.active:after {
    content: "";
}
.tab-type04 li.nav-item .nav-link.active:after {
    display: block;
    width: 15px;
    height: 22px;
    position: absolute;
    right: -15px;
    top: 30px;
    background: url(../../dist/images/dash-tab-arrow.png) no-repeat;
}
.tab-type04 li.nav-item .nav-link span {
    display: block;
    width: 42px;
    font-size: 12px;
    color: #464646;
    float: left;
}
.tab-type04 li.nav-item .nav-link strong {
    display: block;
    width: 133px;
    font-size: 23px;
    font-weight: bold;
    float: left;
    text-align: right;
}
.tab-type04 li.nav-item .nav-link em {
    display: block;
    width: 20px;
    font-size: 17px;
    float: right;
    color: #8f9094;
    font-style: normal;
}

.dash-tab-contents {
    height: 290px;
    margin-bottom: 38px;
}
.dash-tab-contents .tab-content {
    width: calc(100% - 253px);
    float: left;
}
.dash-tab-contents .tab-content .tab-pane .chart-area {
    width: 100%;
    height: 289px;
    border: solid 2px #aeb2b8;
    background-color: #ffffff;
}

/* tree */
.item-title {
    font-size: 12px;
    color: #000;
}
.tree-content {
    padding: 10px;
    width: 230px;
}
.nppa-tree,
.nppa-tree ul {
    position: relative;
    padding-left: 7px;
    font-size: 13px;
    background: url(../../images/bg_tree_vert.png) repeat-y 7px 0;
}
.nppa-tree:after,
.nppa-tree ul:after {
    position: absolute;
    left: 6px;
    bottom: 0;
    width: 12px;
    height: 8px;
    background: #fff;
    content: "";
}
.nppa-tree .nppa-tree-expander {
    position: absolute;
    left: -4px;
    top: 5px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 9px;
    height: 9px;
    background: url(../../images/btn_tree_expander_open.png) no-repeat 0 0 #fff;
    vertical-align: middle;
}
.nppa-tree .tree-open > .nppa-tree-expander {
    background: url(../../images/btn_tree_expander_close.png) no-repeat 0 0 #fff;
}
.nppa-tree li {
    position: relative;
    display: block;
    padding-left: 12px;
    vertical-align: middle;
    background: url(../../images/bg_tree_hori.png) no-repeat 0 9px;
}
.nppa-tree li:last-child {
    background: url(../../images/bg_tree_last.png) no-repeat 0 -7px #fff;
}
.nppa-tree li a,
.nppa-tree li span {
    font-size: 12px;
    color: #000;
}
.nppa-tree li .nppa-tree-text {
    display: inline-block;
}

.icon_folder01 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Group_662' data-name='Group 662' transform='translate(0 360)'%3E%3Cpath id='Path_684' data-name='Path 684' d='M1.778-360A1.777,1.777,0,0,0,0-358.222v12.444A1.777,1.777,0,0,0,1.778-344H14.222A1.777,1.777,0,0,0,16-345.778v-12.444A1.781,1.781,0,0,0,14.222-360H7.5a3.49,3.49,0,0,1,.5,1.778h6.222v1.778h-8v-1.778A1.777,1.777,0,0,0,4.444-360Z' fill='%23f43a42'/%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_folder02 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Group_663' data-name='Group 663' transform='translate(0 360)'%3E%3Cpath id='Path_684' data-name='Path 684' d='M1.778-360A1.777,1.777,0,0,0,0-358.222v12.444A1.777,1.777,0,0,0,1.778-344H14.222A1.777,1.777,0,0,0,16-345.778v-12.444A1.781,1.781,0,0,0,14.222-360H7.5a3.49,3.49,0,0,1,.5,1.778h6.222v1.778h-8v-1.778A1.777,1.777,0,0,0,4.444-360Z' fill='%23ffce00'/%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_folder03 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Group_664' data-name='Group 664' transform='translate(0 360)'%3E%3Cpath id='Path_684' data-name='Path 684' d='M1.778-360A1.777,1.777,0,0,0,0-358.222v12.444A1.777,1.777,0,0,0,1.778-344H14.222A1.777,1.777,0,0,0,16-345.778v-12.444A1.781,1.781,0,0,0,14.222-360H7.5a3.49,3.49,0,0,1,.5,1.778h6.222v1.778h-8v-1.778A1.777,1.777,0,0,0,4.444-360Z' fill='%23b44ba2'/%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_folder04 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Group_665' data-name='Group 665' transform='translate(0 360)'%3E%3Cpath id='Path_684' data-name='Path 684' d='M1.778-360A1.777,1.777,0,0,0,0-358.222v12.444A1.777,1.777,0,0,0,1.778-344H14.222A1.777,1.777,0,0,0,16-345.778v-12.444A1.781,1.781,0,0,0,14.222-360H7.5a3.49,3.49,0,0,1,.5,1.778h6.222v1.778h-8v-1.778A1.777,1.777,0,0,0,4.444-360Z' fill='%23f7702a'/%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_folder05 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Group_666' data-name='Group 666' transform='translate(0 360)'%3E%3Cpath id='Path_684' data-name='Path 684' d='M1.778-360A1.777,1.777,0,0,0,0-358.222v12.444A1.777,1.777,0,0,0,1.778-344H14.222A1.777,1.777,0,0,0,16-345.778v-12.444A1.781,1.781,0,0,0,14.222-360H7.5a3.49,3.49,0,0,1,.5,1.778h6.222v1.778h-8v-1.778A1.777,1.777,0,0,0,4.444-360Z' fill='%239bc100'/%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_folder06 {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg id='Group_667' data-name='Group 667' transform='translate(0 360)'%3E%3Cpath id='Path_684' data-name='Path 684' d='M1.778-360A1.777,1.777,0,0,0,0-358.222v12.444A1.777,1.777,0,0,0,1.778-344H14.222A1.777,1.777,0,0,0,16-345.778v-12.444A1.781,1.781,0,0,0,14.222-360H7.5a3.49,3.49,0,0,1,.5,1.778h6.222v1.778h-8v-1.778A1.777,1.777,0,0,0,4.444-360Z' fill='%2300a7f8'/%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_keyboard {
    display: inline-block;
    width: 16px;
    height: 10px;
    margin-top: -2px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9.846' viewBox='0 0 16 9.846'%3E%3Cpath id='Path_696' data-name='Path 696' d='M14.154,47.273H1.846A1.847,1.847,0,0,0,0,49.12v6.154a1.847,1.847,0,0,0,1.846,1.846H14.154A1.847,1.847,0,0,0,16,55.273V49.12A1.847,1.847,0,0,0,14.154,47.273ZM12.308,50.35H11.077V49.12h1.231Zm1.846,0H12.923V49.12h1.231Zm-5.538,0H7.385V49.12H8.616Zm1.846,0H9.231V49.12h1.23Zm-3.692,0H5.539V49.12H6.769Zm-3.692,0H1.846V49.12H3.077Zm1.846,0H3.692V49.12H4.923Zm7.384,4.923H3.692V54.042h8.615Zm.615-2.461H11.692V51.581h1.231Zm-3.692,0H8V51.581H9.231Zm1.846,0H9.846V51.581h1.23Zm-3.692,0H6.154V51.581H7.385Zm-3.692,0H2.462V51.581H3.692Zm1.846,0H4.308V51.581H5.539Z' transform='translate(0 -47.273)' fill='%236d7177'/%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}
.icon_item {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-top: -3px;
    margin-right: 3px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_1257' data-name='Rectangle 1257' width='16' height='16' transform='translate(256 176)' fill='%23e6e6e6' stroke='%23dfdfdf' stroke-width='1'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Mask_Group_5' data-name='Mask Group 5' transform='translate(-256 -176)' clip-path='url(%23clip-path)'%3E%3Cg id='icons8_user_male_circle' transform='translate(254 174)'%3E%3Cpath id='Path_683' data-name='Path 683' d='M10,2a8,8,0,1,0,0,16,8.093,8.093,0,0,0,7.679-5.749A7.5,7.5,0,0,0,18,10,8,8,0,0,0,10,2ZM5.333,14.76c.779-2.333,3.112-1.422,3.5-2.688v-.841A2.236,2.236,0,0,1,8.1,9.987c-.138-.011-.352-.148-.417-.688a.509.509,0,0,1,.185-.505,2.68,2.68,0,0,1-.206-.932A2.238,2.238,0,0,1,10,5.333a1.227,1.227,0,0,1,1.167.63c.8,0,1.167.875,1.167,1.9a2.389,2.389,0,0,1-.206.935.5.5,0,0,1,.185.5c-.065.542-.279.68-.417.69a2.246,2.246,0,0,1-.729,1.245v.841c.388,1.266,2.721.354,3.5,2.688a6.665,6.665,0,0,1-9.333,0Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")
        no-repeat 0 0;
    vertical-align: middle;
}

.button-search button {
    margin-top: 30px;
}
.search-result {
    background: #d4dae2;
    /*  margin-top: 20px; */
    min-height: 795px;
}
.search-result-child {
    display: none;
    background-color: #ffffff;
}
.searched-info {
    display: flex;
}
.search-label {
    margin-left: 25px;
}
.input-group-addon.my-addon input[type="checkbox" i] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: 8px;
}

select {
    word-wrap: normal;
    border: 0;
    border: 1px #c1c1c1 solid;
    border-radius: 3px;
    padding: 5px 21px;
}

.dataTables_filter label input {
    border: 1px #c1c1c1 solid;
    border-radius: 3px;
    padding: 5px 10px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 40px;
    z-index: 1;
    /*  top: 10px; */
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 31px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: "FontAwesome";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 110px;
    height: 140px;
    position: relative;
    /* border-radius: 100%; */
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    /*  border-radius: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* LOADER */

body {
    background: #eaecfa;
}
.loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
}
.loader::before,
.loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
}
.loader::before {
    top: 0;
}
.loader::after {
    bottom: 0;
}

.swal-button--confirm {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962b3;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
/* .swal-overlay {
    background-color: rgba(51, 43, 165, 0.45);
} */

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 40px;
    }
    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}
