<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="../plugins/font-awesome/css/all.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body class="usr">
  <div class="mh-wrapper">
      <!-- header -->
      <div class="usr-request-header">
          <div class="login-usr-hd-logo">
              <img src="../dist/img/logo-login.png" alt="NPPA CRS">
              <div class="login-title-txt">
                  <strong>NPPA<span>CRS</span></strong>
                  <span class="login-tit-notice">National Public Prosecution Authority <br><em>Criminal Record System</em></span>
              </div>
              <div class="top-log">
                  <span>don.cheadle@gmail.com</span> <button type="button" class="request-logout">logout</button>
                  <div class="form-group lang-inline-group">
                      <select class="form-control lang-select">
                          <option>Kinyarwanda</option>
                          <option>english</option>
                      </select>
                  </div>
              </div>
          </div>
      </div>       
      <div class="usr-request-contents">
         <!-- <div class="usr-toast on"><span class="icon_danger">You should attach your passport picture.</span></div> -->

		<div class="usr-request-area">
              
			<div class="main-area"> 
				<!--<div class="usr-location">
				<a href="#none" class="usr-home">HOME</a>
				</div>-->
				<h2><button type="button" class="btn tolist"><span class="btn_tolist"></span>Back</button> Application Details</h2>
				<div class="applicant-detail-area">
					<dl>
						<dt>Application Number</dt>
						<dd>A190131LKJ0</dd>
					</dl>
					<dl>
						<dt>Requested Date</dt>
						<dd>14 / 06 / 2019</dd>
					</dl>
					<dl>	
						<dt>Message</dt>
						<dd>Processing now.</dd>
					</dl>
					<dl>
						<dt>Status</dt>
						<dd><span class="status_mark pending">PENDING</span></dd>
					</dl>
				</div>
				<div class="row">
                        <div class="col-12">
                            <ul class="nav tab-type01" role="tablist"> 
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#default1" role="tab" aria-controls="default1" aria-selected="true"><span class="icon_applicants"></span> Step1. <strong>Applicants Detail</strong></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#default2" role="tab" aria-controls="default2" aria-selected="true"><span class="icon_place"></span>Step2. <strong>Place Detail</strong></a>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link"data-toggle="tab" href="#default3" role="tab" aria-controls="default3" id="default3-tab"><span class="icon_attachments"></span>Step3. <strong>Attachments</strong></a>
                                </li>
                            </ul>
                            <div class="tab-content"> 
                                <div class="tab-pane fade show active" id="default1" role="tabpanel" aria-labelledby="default1-tab">
									 
									<div class="usr-area">
										<div class="row mb-30p">
											<div class="col-12">
												<div class="profile-id">
												User Register Type : <span>Citizen</span>
												</div>
												<div class="profile-id">
												National ID : <span>7108267201</span>
												</div>
											</div>
										</div>
										<div class="profile-pic more">
											<img src="../dist/img/temp_profile.jpg" alt="">
										</div>
										<div class="identification">
											<div class="col-4-single">
												    <div class="tit_cont">First Name</div>
													<div class="form-group">
														<input type="text" class="form-control mh-form-control">
													</div>
												</div>
											<div class="col-4-single">
												<div class="tit_cont">Middle Name</div>
												<div class="form-group">
													<input type="text" class="form-control mh-form-control">
												</div>
											</div>
											<div class="col-4-single">
												<div class="tit_cont">Middle Name</div>
												<div class="form-group">
													<input type="text" class="form-control mh-form-control">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="form-type02">
													<div class="tit_cont">Gender</div>
													<div class="inline-group">
														<div class="mh-radio-wrapper">
															<input type="radio" class="mh-radio-tab" name="gender" value="1" id="ra1" checked />
															<label for="ra1">Male</label>
															<input type="radio" class="mh-radio-tab" name="gender" value="2" id="ra2" />
															<label for="ra2">Female</label>
														</div>
													</div>
												</div>
												<div class="form-type02">
													<div class="tit_cont">Birthday</div>
													<div class="inline-group">
														<div class="datetimepicker-wrapper datetimepicker">
															<input type="text" class="form-control mh-form-control" id="datetimepicker3">
														</div>
													</div>
												</div>
											</div>
										</div>									
										<div class="row">
											<div class="col-12">
												<div class="form-type02">
													<div class="tit_cont">Civil State</div>
													<div class="inline-group">
														<div class="mh-radio-wrapper">
															<input type="radio" class="mh-radio-tab" name="status" value="1" id="ra01" checked />
															<label for="ra01">Married</label>
															<input type="radio" class="mh-radio-tab" name="status" value="2" id="ra02" />
															<label for="ra02">Single</label>
															<input type="radio" class="mh-radio-tab" name="status" value="3" id="ra03" />
															<label for="ra03">Unknown</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<div class="form-type02">
													<div class="tit_cont">Preferred Language for Certificate</div>
													<div class="inline-group">
														<div class="mh-radio-wrapper">
															<input type="radio" class="mh-radio-tab" name="status1" value="1" id="ra05" checked />
															<label for="ra05">English</label>
															<input type="radio" class="mh-radio-tab" name="status1" value="2" id="ra06" />
															<label for="ra06">French</label>
															<input type="radio" class="mh-radio-tab" name="status1" value="3" id="ra07" />
															<label for="ra07">Kinyarwanda</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-25p">
											<div class="col-12">
												<div class="min-sub-wrap ">
													<div class="min-sub-tit type02">
														<span>Father's Name</span>
													</div>
													<div class="min-sub-item">
														<div>
															<div class="tit_cont">First Name</div>
															<div class="form-group">
																<input type="text" class="form-control mh-form-control" id="">
															</div>
														</div>
													</div>
													<div class="min-sub-item">
														<div>
															<div class="tit_cont">Last Name</div>
															<div class="form-group">
																<input type="text" class="form-control mh-form-control" id="">
															</div>
														</div>
													</div>
												</div>
												<div class="min-sub-wrap">
													<div class="min-sub-tit type02">
														<span>Father's Name</span>
													</div>
													<div class="min-sub-item">
														<div>
															<div class="tit_cont">First Name</div>
															<div class="form-group">
																<input type="text" class="form-control mh-form-control" id="">
															</div>
														</div>
													</div>
													<div class="min-sub-item">
														<div>
															<div class="tit_cont">Last Name</div>
															<div class="form-group">
																<input type="text" class="form-control mh-form-control" id="">
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
                                </div> 
                                <div class="tab-pane fade" id="default2" role="tabpanel" aria-labelledby="default2-tab">
									<div class="usr-area mt-20p">
										<div class="min-sub-wrap ">
											<div class="min-sub-tit"><span>Country</span> </div>
												<div class="min-sub-item">
													<div>
														<div class="tit_cont">Place of Birth</div>
														<div class="form-group">
															<select class="form-control mh-form-control">
															<option>1</option>
															<option>2</option>
															<option>3</option>
															</select>
														</div>
													</div>
												</div>
											<div class="min-sub-item">
												<div>
													<div class="tit_cont">Place of Residence</div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="tit_cont">Citizen Registration Place</div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="min-sub-wrap">
											<div class="min-sub-tit"><span>Province</span></div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="min-sub-wrap">
											<div class="min-sub-tit"><span>District</span></div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="min-sub-wrap">
											<div class="min-sub-tit"><span>Sector</span></div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="min-sub-wrap">
											<div class="min-sub-tit"><span>Cell</span></div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
											<div class="min-sub-item">
												<div>
													<div class="form-group">
														<select class="form-control mh-form-control">
														<option>1</option>
														<option>2</option>
														<option>3</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="min-sub-wrap type02">
											<div class="min-sub-tit"><span>Additional<br>Information</span></div>
											<div class="min-sub-item">
												<div class="tit_cont">Nation(s)  <button type="button" class="list-add"></button></div>
												<div class="choose-list-box">
													<div>Engineering <button type="button" class="list-del"></button></div>
													<div>Engineering <button type="button" class="list-del"></button></div>
												</div>
											</div>
											<div class="min-sub-item">
												<div class="tit_cont">Profession(s)  <button type="button" class="list-add"></button></div>
												<div class="choose-list-box">
													<div>Engineering <button type="button" class="list-del"></button></div>
													<div>Engineering <button type="button" class="list-del"></button></div>
													<div>Engineering <button type="button" class="list-del"></button></div>
												</div>
											</div>
											<div class="min-sub-item">
												<div class="tit_cont">Occupation(s)  <button type="button" class="list-add"></button></div>
												<div class="choose-list-box">
													<div>Engineering <button type="button" class="list-del"></button></div>
													<div>Engineering <button type="button" class="list-del"></button></div>
													<div>Engineering <button type="button" class="list-del"></button></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								 <!--//탭2-->
                                <div class="tab-pane fade" id="default3" role="tabpanel" aria-labelledby="default3-tab">
                                </div>
                            </div>
                           
                        </div>
                  </div>
                  <div class="btn-area steps">
                      <!-- <button type="button" class="btn back"><span class="btn_back"></span>Back</button> 
                      <button type="button" class="btn">Next<span class="btn_next"></span></button>
                  </div>


                  <!-- //컨텐츠영역 : 여기에 작성 -->
              </div>
          </div>
      </div>
      <!--//컨텐츠영역-->
      <div class="user-footer">
          <div class="user-footer-area">
              <span class="copyright-img"><img src="../dist/img/icon_gray.png" alt="" /><em>National Public<br>Prosecution
                      Authority</em></span>
              <span class="copyright-footer">Copyright &copy; 2019 2018. National Public Prosecution Authority.All Rights Reserved.</span>
          </div>
      </div>
  </div>
  <!-- jQuery JS -->
  <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
  <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

  <!-- popper JS -->
  <script src="../plugins/popper/popper.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- Datetimepicker - Moment js -->
  <script src="../plugins/moment/js/moment-with-locales.js"></script>
  
  <!-- Datetimepicker JS -->
  <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
  <!-- Data Tables JS -->
  <script src="../plugins/datatables/js/jquery.dataTables.min.js"></script>
  <!-- nppa JS -->
  <script src="../dist/js/nppa.js"></script>
  <script>
	 $(document).ready(function(){
		 $(".tolist").click(function(){
			window.location='/application_list'

		 });
	 });
  </script>
  <script>
      $(function () {
          $("#datetimepicker1").datetimepicker({
              format: 'DD/MM/YYYY'
              //debug:true
          });
          $("#datetimepicker2").datetimepicker({
              format: 'DD/MM/YYYY'
              //debug:true
          });
          $("#datetimepicker3").datetimepicker({
              format: 'DD/MM/YYYY'
              //debug:true
		  });
		  console.log('aaaaa');
      });
  </script>
</body>

</html>
