<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="../plugins/font-awesome/css/all.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

<body class="usr">
  <div class="mh-wrapper">
      <!-- header -->
      <div class="usr-request-header">
          <div class="login-usr-hd-logo">
              <img src="../dist/img/logo-login.png" alt="NPPA CRS">
              <div class="login-title-txt">
                  <strong>NPPA<span>CRS</span></strong>
                  <span class="login-tit-notice">National Public Prosecution Authority <br><em>Criminal Record System</em></span>
              </div>
              <div class="top-log">
                    <span>don.cheadle@gmail.com</span> <button type="button" class="request-logout">logout</button>
                    <div class="form-group lang-inline-group">
                        <select class="form-control lang-select">
                            <option>Kinyarwanda</option>
                            <option>english</option>
                        </select>
                    </div>
                </div>
          </div>
          
      </div>
      <!--컨텐츠영역-->
      <div class="usr-request-contents">
          <div class="usr-request-area">
              <div class="top-area-data">
                  <div class="top-statue">Application Status</div>
                  <ul class="top-data">
                      <li><span>PENDING</span><strong>3</strong></li>
                      <li><span>APPROVED</span><strong>99</strong></li>
                      <li><span>PROCESSING</span><strong>23</strong></li>
                      <li><span class="double">NOT <br>APPROVED</span><strong>13</strong></li>
                      <li><span>ISSUED</span><strong>13</strong></li>
                      <li><span>REJECTED</span><strong>13</strong></li>
                      
                  </ul>
              </div>
              <div class="adm-searchbox">
                  <form>
                      <div class="top-statue">Status Search</div>
                      <div class="mh-radio-wrapper radio-type02">
                          <input type="radio" class="mh-radio-tab" name="radioTabTest2" value="1" id="ra11" checked />
                          <label for="ra11">1 Month</label>
                          <input type="radio" class="mh-radio-tab" name="radioTabTest2" value="2" id="ra12" />
                          <label for="ra12">3 Months</label>
                          <input type="radio" class="mh-radio-tab" name="radioTabTest2" value="3" id="ra13" />
                          <label for="ra13">6 Months</label>
                      </div>
                      <div class="datetimepicker-wrapper datetimepicker">
                          <input type="text" class="form-control mh-form-control" id="datetimepicker1">&nbsp;~&nbsp;<input type="text"
                              class="form-control mh-form-control" id="datetimepicker2">
                      </div>
                      <button type="button" class="btn h38"><span class="btn_search"></span>Search</button>
                  </form>
              </div>
              <div class="main-area">
                  <!-- 컨텐츠영역 : 여기에 작성 -->
                  <h2>Application List
                                   
                      <button type="button" class="btn h38">Request New Application</button>
                  </h2>
                  <div class="row">
                      <div class="col-12">
                          <table class="table-type02">
                            <colgroup>
                                <col width="22%"/>
                                <col width="20%" />
                                <col width="*" />
                                <col width="19%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">Application Number</th>
                                    <th scope="col">Requested Date</th>
                                    <th scope="col">Message</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#none" class="stat_num">A190131LKJ0</a></td>
                                    <td>06/07/2019</td>
                                    <td>Processing now.</td>
                                    <td><span class="status_mark pending">PENDING</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#none" class="stat_num">A190131LKJI</a></td>
                                    <td>06/07/2019</td>
                                    <td>It's been processed.</td>
                                    <td><span class="status_mark approved">APPROVED</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#none" class="stat_num">A190131LKJ0</a></td>
                                    <td>06/07/2019</td>
                                    <td>Processing now.</td>
                                    <td><span class="status_mark processing">PROCESSING</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#none" class="stat_num">A190131LKJI</a></td>
                                    <td>06/07/2019</td>
                                    <td>There is insufficient evidence.</td>
                                    <td><span class="status_mark rejected">REJECTED</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#none" class="stat_num">A190131LKJI</a></td>
                                    <td>06/07/2019</td>
                                    <td>There is insufficient evidence.</td>
                                    <td><span class="status_mark issued">ISSUED</span></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- paging -->
                        <div class="table-paging">
                            <ul>
                                <li><a href="">First</a></li>
                                <li><a href="">&#171;</a></li>
                                <li><a href="">1</a></li>
                                <li class="on"><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="">6</a></li>
                                <li><a href="">&#187;</a></li>
                                <li><a href="">Last</a></li>
                            </ul>
                        </div>
                        <!-- //paging -->
                      </div>
                  </div>

                  <!-- //컨텐츠영역 : 여기에 작성 -->
              </div>
          </div>
      </div>
      <!--//컨텐츠영역-->
      <div class="user-footer">
          <div class="user-footer-area">
              <span class="copyright-img"><img src="../dist/img/icon_gray.png" alt="" /><em>National Public<br>Prosecution
                      Authority</em></span>
              <span class="copyright-footer">Copyright &copy; 2019 2018. National Public Prosecution Authority.All Rights Reserved.</span>
          </div>
          

      </div>
  </div>
  <!-- jQuery JS -->
  <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
  <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

  <!-- popper JS -->
  <script src="../plugins/popper/popper.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- Datetimepicker - Moment js -->
  <script src="../plugins/moment/js/moment-with-locales.js"></script>
  
  <!-- Datetimepicker JS -->
  <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
  <!-- Data Tables JS -->
  <script src="../plugins/datatables/js/jquery.dataTables.min.js"></script>
  <!-- nppa JS -->
  <script src="../dist/js/nppa.js"></script>
  <script>
      $(function () {
          $("#datetimepicker1").datetimepicker({
              format: 'DD/MM/YYYY'
              //debug:true
          });
          $("#datetimepicker2").datetimepicker({
              format: 'DD/MM/YYYY'
              //debug:true
          });
          $("#datetimepicker3").datetimepicker({
              format: 'DD/MM/YYYY'
              //debug:true
          });
      });
  </script>
</body>

</html>
