<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>NPPA CRS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="../plugins/bootstrap4-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.css">
    <!-- nppa Icon CSS -->
    <link rel="stylesheet" href="../dist/css/nppa_icon.css">
    <!-- nppa CSS -->
    <link rel="stylesheet" href="../dist/css/nppa.css">
    <!-- nppa SVG -->
    <link rel="stylesheet" href="../dist/css/nppa_svg.css">
</head>

 <div>
     <ul style="display: flex; justify-content: space-between;">
     <li><a th:href="@{/login}">Login</a></li>
     <li><a th:href="@{/forget}">forget</a></li>
     <li><a th:href="@{/send_email}">send_emai</a></li>
     <li><a th:href="@{/confirm_email}">confirm_email</a></li>
     <li><a th:href="@{/email_alert}">email_alert</a></li>
     <li><a th:href="@{/personal_authentication}">personal_authentication</a></li>
     <li><a th:href="@{/personal_information}">personal_information</a></li>
    <li><a th:href="@{/complete}">complete</a></li>
    </ul>
 </div>
 
 <div>
    <ul style="display: flex; justify-content: space-between;">
    <li><a th:href="@{/application_list}">application list</a></li>
    <li><a th:href="@{/request_one}">application_request</a></li>
    <li><a th:href="@{/request_two}">application request_two</a></li>
    <li><a th:href="@{/application_search}">application_search</a></li>
    <li><a th:href="@{/search_result}">search_result</a></li>
    <li><a th:href="@{/user_detail}">user_detail</a></li> 
   </ul>
</div>
    <div class="login-copyright">&copy; 2019 NPPA All Rights Reserved. Privacy and Terms</div>
    <!-- jQuery JS -->
    <script src="../plugins/jquery/jquery-1.12.4.min.js"></script>
    <script src="../plugins/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!-- popper JS -->
    <script src="../plugins/popper/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datetimepicker - Moment js -->
    <script src="../plugins/moment/js/moment-with-locales.js"></script>
    <!-- Datetimepicker JS -->
    <script src="../plugins/bootstrap4-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <!-- nppa JS -->
    <script src="../dist/js/nppa.js"></script>

    
</body>

</html>
